.Nav {
  display: flex;
  background: black;
  color: white;
  align-items: baseline;
  font-family: "Montserrat", sans-serif;
}

.Nav__NavItem {
  margin: 10px;
}

.Nav__NavItem__NavLink {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.Nav__NavItem__NavLink:hover {
  border-bottom: 1px solid white;
}

.Nav__NavItem_Left {
  font-size: 40px;
  font-weight: bold;
  cursor: default;
}
